* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0044a9;
  --color-secondary: #002f73;
  --color-text: #2b2b2a;
  --color-main-text: #006cce;
  --color-outro: #3c3c3b;
  --font-family: "Open Sans";
  --white-color: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--font-family);
}
